*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box; /*Box-sizing é responsável por como a largura e altura totais de um elemento são calculadas*/
    background-color: #F2DEBA;
    color: #820000;
}

.titulo-destaque {
    color: #4E6C50;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Playfair Display', serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
}