*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box; /*Box-sizing é responsável por como a largura e altura totais de um elemento são calculadas*/
    background-color: #F2DEBA;
    color: #820000;
}

.titulo-destaque {
    color: #4E6C50;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
}

.apresentacao__img{
    position: absolute;
    max-width: 800px;
    max-height: 600px;
    width: auto;
    height: auto;
    left: 800px;
    top: 253px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 0px 32px;
    width: 381px;
    height: 262px;

}

.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;  
    font-size: 24px; 
}

.apresentacao__links__botoes{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 381px;
    height: 262px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:#4E6C50;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #4E6C50;
}
