*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box; /*Box-sizing é responsável por como a largura e altura totais de um elemento são calculadas*/
    background-color: #F2DEBA;
    color: #820000;
}

.titulo-destaque {
    color: #4E6C50;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;

}

.apresentacao__links__botoes{
    background-color: #4E6C50 ;
    width: 145px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:black;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
