:root{
    --cor-primaria: #9a9a9a;
    --cor-secundaria: #820000;
    --cor-terciaria:#2E3840;
    --cor-hover: #820000;
    --cor-rodape:beige;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secudaria: 'Montserrat', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    box-sizing: border-box; /*Box-sizing é responsável por como a largura e altura totais de um elemento são calculadas*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 2250px;
}

.cabecalho{
    padding: 5% 0  0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: 'Montserrast', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    font-size: xx-large;

}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 20px;
}

.apresentacao__img{
    max-width: 800px;
    max-height: 600px;
    width: auto;
    height: auto;
    left: 800px;
    top: 253px;
}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--fonte-secudaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 0px 32px;
    width: 381px;
    height: 500px;

}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;  
    font-size: 24px; 
}

.apresentacao__links__botoes{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 381px;
    height: 262px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 21.5px 0;
    text-decoration: none;
    color:var(--cor-terciaria);
    font-weight: 600;
    font-family: var(--fonte-secudaria);
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__links__botoes:hover{
    background-color: var(--cor-hover);
    padding: 3%;
    color:beige;
}

strong:hover{
    font-size: larger;
}

.rodape{
    color:var(--cor-rodape);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secudaria);
    font-size: 24px;
    font-weight: 400;
}